<body>
    <div class="content">
        <header>
            <h1>{{title}}</h1>
        </header>

        <nav>
            <ul>
                <li><a href="#">Agents</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </nav>


        <div class="agents">
            <div class="agent">
                some text <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                some text <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                some text <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                some text <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                some text <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                some text <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                some text <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                some text <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                some text <br> some text <br> some text <br> some text
            </div>
        </div>
    </div>
    <footer class="footer">Ben Adamson</footer>
</body>
