<body>

    <header>
        <h2>{{title}}</h2>
    </header>

    <nav>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/agents">Agents</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
    </nav>

    <div class="content-container">
        <div class="agents">
            <div class="agent">
                DIV1 <br> some text abcdefg<br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br>
            </div>
            <div class="agent">
                DIV2 <br> some text, no lorem ipsum here <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br>
            </div>
            <div class="agent">
                DIV3 <br> some text, wahey! <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                DIV4 <br> some text, okay! <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                DIV5 <br> some text, oh no! <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                DIV6 <br> some text, this is a sentence <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                DIV7 <br> some text, this is a much longer sentence about sentences and text <br> some text <br> some text <br> some text
            </div>
            <div class="agent">
                DIV8 <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br>
            </div>
            <div class="agent">
                DIV9 <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br> some text <br>
            </div>
        </div>
    </div>
    <footer class="footer">Ben Adamson</footer>
</body>
