html {
    height: 100%;
    background-color: azure;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 80%;
    color: #434343;
    min-width: 1000px;
    /* minimum width of 1000px */
    width: auto !important;
    /* set width as auto */
    width: 1000px;
    /* As IE ignores !important it will set width as 1000px; */
}

header,
footer {
    padding: 10px;
    color: azure;
    background-color: #434343;
    clear: left;
    text-align: center;
    border-radius: 5px;
}

h1 {
    margin: 10px 0 10px 0;
}

h2 {
    margin: 0;
}

h3 {
    display: inline;
    line-height: 2;
}

th {
    float: left;
}

a {
/*    color: azure;*/
    color: #434343;
}

body>nav {
    float: left;
    position: relative;
    width: 100px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0em;
    background: #434343;
    border-radius: 5px;
    color: azure;
}

body>nav ul {
    list-style-type: none;
    padding: 1em;
}

body>nav ul a {
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    color: azure;
}

label {
    line-height: 2em;
}

p {
    font-family: "Courier New", Courier, monospace;
    border: 1px solid #434343;
    margin-top: -5px;
    padding: 2px;
    display: inline-block;
    line-height: 1em;
}

.agent>ul {
    margin: 0px;
}

.agent>ul>li {
    padding-left: 15px;
    font-size: 20px;
}

.agent>ul>li>span {
    position: relative;
    left: -25 px;
    font-size: 14px;
}

.agents {
    background-color: ghostwhite;
}

.agent {
    padding: 3px;
    margin: 10px 0px 5px 0px;
    border: 5px solid #434343;
    border-radius: 5px;
    line-height: 1.4em;
}

.agent>div {
    display: flex;
}

.agent>div>*+* {
    margin-left: 5px;
}

.content-container {
    margin: 5px 0 10px 110px;
}

.statsandcontrols {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #434343;
    border-radius: 3px;
    padding: 5px;
}

.statsandcontrols nav h2 {
    margin-bottom: 0.25em;
}

.statsandcontrols nav button {
    display: block;
    width: 100%;
}

.statsandcontrols nav button+button {
    margin-top: 0.5em;
}

input#editSchedule {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
}

input#schedule {
    width: 130px;
}

.graphcontainer {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #434343;
    border-radius: 3px;
    padding: 5px;
}

.graphcontainer svg {
    width: 100%;
}

.caption {
    text-align: center;
}
