html {
    height: 100%;
    background-color: azure;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 80%;
    color: #434343;
    min-width: 1000px;
    /* minimum width of 1000px */
    width: auto !important;
    /* set width as auto */
    width: 1000px;
    /* As IE ignores !important it will set width as 1000px; */
}

header,
footer {
    padding: 10px;
    color: azure;
    background-color: #434343;
    clear: left;
    text-align: center;
    border-radius: 5px;
}

h2 {
    margin: 0;
}

h3 {
    display: inline;
    line-height: 2;
}

th {
    float: left;
}

nav {
    float: left;
    position: relative;
    width: 100px;
    height: 100%;
    margin-top: 10px;
    padding: 0em;
    background: #434343;
    border-radius: 5px;
    color: azure;
}

nav ul {
    list-style-type: none;
    padding: 1em;
}

nav ul a {
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    color: azure;
}

label {
    line-height: 2em;
}

.agents {}

.agent {
    padding: 3px;
    float: left;
    margin: 5px 0px 5px 0px;
    border: 5px solid #434343;
    border-radius: 5px;
    display: block;
    width: 100%;
}

.content-container {
    margin: 5px 15px 10px 110px;
}

.stats {
    border: 1px solid #434343;
    border-radius: 3px;
    float: left;
    margin-top: 10px;
    width: 300px;
}


/*
.commentbox {
    border: 1px solid #434343;
    border-radius: 3px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 230px;
    padding: 5px;
}
*/

.controls {
    border: 1px solid #434343;
    border-radius: 3px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    /*    width: 230px;*/
    padding: 5px;
}

.graph {
    position: relative;
    float: right;
    margin-right: 10px;
    max-width: 600px;
}

.caption {
    text-align: center;
}
